:root {

    // themes color
    --color-primary: #614CE1;
    --color-primary-btn: #614CE1;
    --color-primary-2: #4C4FF8;
    --color-secondary: #1F1F25;
    --color-secondary-2: #FF6354;
    // banner one
    --banner-one-gradient-top: linear-gradient(0deg, rgba(255, 255, 255, 0.90) 0%, rgba(255, 255, 255, 0.80) 100%), #36D659;
    --banner-one-gradient-bottom: linear-gradient(0deg, rgba(255, 255, 255, 0.90) 0%, rgba(255, 255, 255, 0.80) 100%), #614CE1;
    // banner two
    --b1: linear-gradient(180deg, #D7F7DE 0%, #DFDBF9 100%);
    --banner-two-gradient: linear-gradient(259deg, #E2DDFF 34%, #CFFFDA 97.14%);
    --banner-two-gradient-overlay: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);


    --color-gradient: linear-gradient(45deg, #4C4FF8 13.72%, #FF6354 100%);
    --color-gradient-10: linear-gradient(-45deg, #4C4FF8 13.72%, #FF6354 100%);

    --color-gradient-2: linear-gradient(90deg, #FFCF55 -2.75%, #FF6354 90.8%);
    --color-gradient-9: linear-gradient(-90deg, #FFCF55 -2.75%, #FF6354 90.8%);

    --color-gradient-3: linear-gradient(90deg, #42AFFF -16.25%, #4C4FF8 87.87%);
    --color-gradient-8: linear-gradient(-90deg, #42AFFF -16.25%, #4C4FF8 87.87%);

    --color-gradient-4: linear-gradient(45deg, #D3CCFF 13.72%, #614CE1 100%);
    --color-gradient-5: linear-gradient(45deg, #614CE1 13.72%, #D3CCFF 100%);
    
    --color-gradient-6: linear-gradient(-45deg, #614CE1 13.72%, #8DFFA6 100%);
    --color-gradient-7: linear-gradient(45deg, #614CE1 13.72%, #8DFFA6 100%);
    // body color
    --body-bg: #fff;
    --color-body: #4F4F55;
    --color-border: #BCBFDB;
    --color-border-2: #D7D9E9;
    --color-second: #717383;
    --pricing-single-bg: linear-gradient(0deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.80) 100%), #BCBFDB;
    --working-process-single: #fff;
    --section-bg-gray: #F8F9FB;
    --testimonial-single-bg: #fff;
    --appointment-bg: #fff;
    --input-bg: #fff;
    --pricing-bg: linear-gradient(0deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.80) 100%), #BCBFDB;
    --pricing-bg-single: #fff;
    --testimonial-overlay: linear-gradient(180deg, rgba(255, 255, 255, 0) 6.66%, rgba(255, 255, 255, 0.91) 48.38%, #FFF 85.73%);
    --footer-bg-2: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.80) 100%), #BCBFDB;
    --product-area-bg: linear-gradient(89deg, #CDD0ED 5.62%, #F0F2FF 90.1%);
    --product-pre-color: #717383;
    --product-pre-button: #fff;
    --faq-bg: linear-gradient(180deg, #F8F9FB 0%, rgba(255, 255, 255, 0.00) 100%);
    --faq-single: #F8F9FB;
    --footer-four-bg: linear-gradient(0deg, rgba(255, 255, 255, 0.90) 0%, rgba(255, 255, 255, 0.90) 100%), #BCBFDB;
    --bg-gray-2: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #4C4FF8;
    --counter-up-bg: var(--footer-bg-2);
    --counter-up-bg-2: var(--footer-four-bg);
    --team-bg: linear-gradient(180deg, #F4F5FC 0%, rgba(255, 255, 255, 0.00) 100%);
    --footer-widget-title: #9699AF;
    --single-service-bg: var(--footer-four-bg);
    --testimonial-left: var(--footer-four-bg);
    --client-testimonial-bg: var(--footer-four-bg);
    --blog-single: var(--footer-four-bg);
    --connecting-people: #26262c0d;
    --about-small: var(--body-bg);
    --service-seven: var(--connecting-people);
    --blog-seven: var(--team-bg);
    --counter-eight: linear-gradient(0deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.80) 100%), #FECA11;
    --seo-bg: var(--footer-four-bg);
    --pricing-tag: var(--body-bg);
    --pricing-seven: var(--footer-four-bg);
    --testimonial-eight-bg: var(--footer-four-bg);
    --choose-bg: var(--team-bg);
    --counter-about: linear-gradient(45deg, #F3F1FF 13.72%, #FFF 100%);
    --faq-header: var(--product-area-bg);
    --case-study: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.80) 100%), #BCBFDB;
    --case-study-2:  linear-gradient(180deg, #F4F5FC 0%, rgba(255, 255, 255, 0) 100%);
    --accordion-single-bg: transparent;


    // title color
    --color-heading-1: #26262C;
    --color-title: #26262C;
    --color-title-nav: #26262C;
    --color-white:#fff;
    --color-service-heading: rgba(0, 0, 0, 0.8);
    --counter-title: #717383;
    // notify Colors
    --color-success: #26CF4B;
    --color-danger: #FF0003;
    --color-warning: #FF8F3C;
    --color-info: #1BA2DB;
    //Social icon colors
    --color-facebook: #3B5997;
    --color-twitter: #1BA1F2;
    --color-youtube: #ED4141;
    --color-linkedin: #0077B5;
    --color-pinterest: #E60022;
    --color-instagram: #C231A1;
    --color-vimeo: #00ADEF;
    --color-twitch: #6441A3;
    --color-discord: #7289da;

    // subscribe form background
    --subscribe-form: linear-gradient(0deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.80) 100%), #BCBFDB;
    
    // footer background
    --footer-bg: linear-gradient(257deg, #DEFFE6 1.73%, rgba(201, 192, 255, 0.08) 98.79%);
   

    // Font weight
    --p-light: 300;
    --p-regular: 400;
    --p-medium: 500;
    --p-semi-bold: 600;
    --p-bold: 700;
    --p-extra-bold: 800;
    --p-black: 900;

    // Font weight
    --s-light: 300;
    --s-regular: 400;
    --s-medium: 500;
    --s-semi-bold: 600;
    --s-bold: 700;
    --s-extra-bold: 800;
    --s-black: 900;

    //transition easing
    --transition: 0.3s;

    // Font Family
    --font-primary: 'Manrope', sans-serif;
    --font-secondary: 'Rubik', sans-serif;
    --font-three: "Font Awesome 6 Pro";

    //Fonts Size
    --font-size-b1: 16px;

    --font-size-b2: 16px;
    --font-size-b3: 22px;


    //Line Height
    --line-height-b1: 26px;

    --line-height-b2: 26px;
    --line-height-b3: 1.7;


    // Heading Font
    --h1: 80px;
    --h2: 48px;
    --h3: 32px;
    --h4: 26px;
    --h5: 24px;
    --h6: 20px;
}
[data-theme=dark]{
    // THEME MAIN COLORS
    --color-primary: #614CE1;
    --color-primary-btn: #614CE1;
    --color-primary-2: #4C4FF8;
    --color-secondary: #1F1F25;
    --color-secondary-2: #FF6354;
    --color-border: #BCBFDB54;
    --color-border-2: #D7D9E954;


    // THEME GRADIENT
    --banner-one-gradient-top: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), rgba(96,76,225,0.3);       
    --banner-one-gradient-bottom: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), rgba(96,76,225,0.3);
    // banner two
    --banner-two-gradient: linear-gradient(259deg, rgba(97, 76, 225, 0.80) 34%, rgba(32, 223, 76, 0.80) 97.14%);
    --banner-two-gradient-overlay: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #000 100%);

    --color-gradient: linear-gradient(45deg, #4C4FF8 13.72%, #FF6354 100%);
    --color-gradient-10: linear-gradient(-45deg, #4C4FF8 13.72%, #FF6354 100%);

    --color-gradient-2: linear-gradient(90deg, #FFCF55 -2.75%, #FF6354 90.8%);
    --color-gradient-9: linear-gradient(-90deg, #FFCF55 -2.75%, #FF6354 90.8%);

    --color-gradient-3: linear-gradient(90deg, #42AFFF -16.25%, #4C4FF8 87.87%);
    --color-gradient-8: linear-gradient(-90deg, #42AFFF -16.25%, #4C4FF8 87.87%);

    --color-gradient-4: linear-gradient(45deg, #D3CCFF 13.72%, #614CE1 100%);
    --color-gradient-5: linear-gradient(45deg, #614CE1 13.72%, #D3CCFF 100%);
    
    --color-gradient-6: linear-gradient(-45deg, #614CE1 13.72%, #8DFFA6 100%);
    --color-gradient-7: linear-gradient(45deg, #614CE1 13.72%, #8DFFA6 100%);
    --sticky-menu-dark: linear-gradient(199deg, #3A3946 12.55%, #2B2A3B 87.45%);
    // body color
    --same-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.80) 100%), #BCBFDB;
    --same-gradient-2: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.80) 100%), #BCBFDB;
    --body-bg: #000000;
    --color-body: #fff;
    --color-second: var(--color-body);
    --pricing-single-bg: var(--same-gradient-2);
    --pricing-single-bg-dark: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), #614CE1;
    --section-bg-gray: var(--same-gradient);
    --testimonial-single-bg: var(--same-gradient);
    --working-process-single: var(--same-gradient);
    --appointment-bg: #000000;
    --input-bg: transparent;
    --pricing-bg: var(--same-gradient-2);
    --pricing-bg-single: #000;
    --testimonial-overlay: linear-gradient(180deg, rgba(38, 38, 44, 0.00) 6.66%, rgba(38, 38, 44, 0.8) 42.07%, #26262C 80.51%);
    --footer-bg-2: var(--same-gradient-2);
    --product-area-bg: linear-gradient(258deg, #373551 8.48%, #212026 94.83%);
    --product-pre-color: #BCBFDB;
    --product-pre-button: #BCBFDB;
    --faq-bg: linear-gradient(180deg, #26262C 0%, rgba(38, 38, 44, 0.00) 100%);
    --faq-single: var(--same-gradient);
    --footer-four-bg: var(--same-gradient);
    --footer-widget-title: var(--color-body);
    --bg-gray-2: var(--same-gradient);
    --counter-up-bg: var(--same-gradient-2);
    --team-bg: linear-gradient(180deg, #26262C 0%, rgba(38, 38, 44, 0.00) 100%);
    --single-service-bg: var(--footer-bg-2);
    --connecting-people: rgba(248, 249, 251, 0.05);
    --about-small: var(--connecting-people);
    --service-seven: var(--connecting-people);
    --blog-seven: linear-gradient(180deg, rgba(248, 249, 251, 0.05) 0%, rgba(248, 249, 251, 0.00) 100%);
    --counter-eight: var(--counter-up-bg);
    --pricing-tag: transparent;
    --testimonial-eight-bg: var(--body-bg);
    --counter-about: var(--counter-up-bg);
    --case-study: var(--footer-bg-2);
    --case-study-2: var(--footer-bg-2);
    --accordion-single-bg: var(--faq-single);

    // title color
    --color-heading-1: #fff;
    --color-title: #fff;
    --color-white:#fff;
    --color-service-heading: #fff;
    --counter-title: #fff;

    // notify Colors
    --color-success: #26CF4B;
    --color-danger: #FF0003;
    --color-warning: #FF8F3C;
    --color-info: #1BA2DB;

    //Social icon colors
    --color-facebook: #3B5997;
    --color-twitter: #1BA1F2;
    --color-youtube: #ED4141;
    --color-linkedin: #0077B5;
    --color-pinterest: #E60022;
    --color-instagram: #C231A1;
    --color-vimeo: #00ADEF;
    --color-twitch: #6441A3;
    --color-discord: #7289da;

    // subscribe form background
    --subscribe-form: var(--same-gradient-2);

    // footer background
    --footer-bg: var(--section-bg-gray);
    .menu-btn{
        svg{
            rect{
                fill: #fff;
            }
        }
    }
    .side-bar{
        background: var(--color-secondary);
    }
    .mobile-menu-main nav ul li.has-droupdown::after{
        color: var(--color-title);
    }
    .mobile-menu-main nav ul li a.main,
    .mobile-menu-main nav ul li.has-droupdown ul li{
        border-color:#f3f3f32b;
    }
   
}

// Layouts Variation
$smlg-device: 'only screen and (max-width: 1199px)';
$extra-device: 'only screen and (min-width: 1600px) and (max-width: 1919px)';
$laptop-device: 'only screen and (min-width: 1200px) and (max-width: 1599px)';
$lg-layout: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md-layout:'only screen and (min-width: 768px) and (max-width: 991px)';
$sm-layout:'only screen and (max-width: 767px)';
$large-mobile: 'only screen and (max-width: 575px)';
$small-mobile: 'only screen and (max-width: 479px)';


